<div class="row">
  <div class="span12">
    <div class="hero-unit">
      <h2>Instructure Canvas Courseware Application</h2>
      <p>A rails application utilizing the <a href="https://canvas.instructure.com/doc/api/index.html" target="_BLANK">Instructure Canvas API</a>.  The goal of this project is to fill in gaps in features <a href="http://wharton.upenn.edu" target="_BLANK">The Wharton School</a> most commonly needs that are missing (at the time) from the <a href="http://www.instructure.com/" target="_BLANK">Canvas learning management system</a>.</p>
      <p>Feel free to change and update as you see fit.</p>
    </div>
  </div>
</div>
